NEXT_PUBLIC_BACKEND_API_URL=http://127.0.0.1:8000

# arcgis | cesium-ion | osm
NEXT_PUBLIC_GLOBE_IMAGERY_MODE=arcgis

# Optional (recommended for best imagery quality when using ArcGIS)
NEXT_PUBLIC_ARCGIS_TOKEN=

# Optional (required for Cesium World Terrain and Cesium Ion imagery mode)
NEXT_PUBLIC_CESIUM_ION_TOKEN=
